

.task
{
    text-align: justify;
}

.tableTask
{
    width: 700px;
}

table
{
    width: 400px;
    border: 1px solid blue;
}

.variant
{
    background: #72b30b;
    text-align: center;
    font-size: 14px;
}